<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Enrollment Alert</p>
    <p><%= @user.display_name %> ( <%= @user.email %> ) has enrolled in the <%= Rails.application.config.x["terminology"]["course"] %>, "<%= @course.title %>".</p>
  </body>
</html>
