<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome, <%= @user.first_name %></h1>
    <p>
      You have been enrolled in <%= @course %><br>
      The workshop start time is: <%= @starts_at %>.<br>
    </p>
  </body>
</html>