<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Welcome, <%= @user.first_name %>!<br><br>
      You have been enrolled in the CIT Workshop: <%= @course %><br>
      Workshop time: <%= @date_and_time %>.<br>
    </p>
  </body>
</html>