<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.display_first %>,</p>
    <p>You have dropped the course, "<%= @course.title %>".   We are sorry to
      see you go.</p>
  </body>
</html>
