<div class="panel panel-default current-enrollments">
  <div class="panel-heading">
    <h3 class="panel-title">My Current Enrollments</h3>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Date and Time</th>
        <th>Location</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="#">Facilitating Collaborative Learning With Canvas</a></td>
        <td>11/06/2014 @ 2:00pm</td>
        <td>Carrier Library Room 37</td>
        <td>
          <a href="#" class="btn btn-default pull-right">Unregister</a>
        </td>
      </tr>
      <tr>
        <td><a href="#">Canvas Grading Worksession</a></td>
        <td>12/12/2014 @ 4:00pm</td>
        <td>Carrier Library Room 37</td>
        <td>
          <a href="#" class="btn btn-default pull-right">Unregister</a>
        </td>
      </tr>
    </tbody>

  </table>
</div>
