<div class="panel panel-default current-enrollments">
  <div class="panel-heading">
    <h3 class="panel-title">My Current Enrollments</h3>
  </div>
  <div class="panel-body">
  <% if @user.enrollments.any? %>
    <%= render @user.enrollments %>
  <% else %>
    <p>
      You don't have any current enrollments.  Why not
      <%= link_to "find some courses to take", courses_path %>?
    </p>
  <% end %>
</div>
</div>
