<!-- icon legend -->
<ul class="list-inline">
  <li class="enrolled">
    <%= render "shared/enrolled_icon" %> Enrolled
  </li>
  <li class="waiting">
    <%= render "shared/waiting_icon" %> Wait List
  </li>
  <li class="completed">
    <%= render "shared/completed_icon" %> Completed
  </li>
  <li class="instructing">
    <%= render "shared/instructing_icon" %> Instructing
  </li>
</ul>
