<div class="jumbotron">
  <h1>CIT Workshops</h1>
  <p>
    Welcome to the CIT Workshop Registration System.  Browse oru available
    workshops, find the ones that you like, and get yourself signed up for
    one already!
  </p>
  <p>
    <a class="btn btn-lg btn-primary" href="" role="button">Browse workshops &raquo;</a>
  </p>
</div>
