<div class="jumbotron">
  <h1>CIT Workshops</h1>
  <p>
    Welcome to the CIT Workshop Registration System.  Browse our available
    courses, find the ones that you like, and get yourself signed up for
    one already!
  </p>
  <p>
    <%= link_to 'Browse available courses', courses_path, class: 'btn btn-lg btn-primary' %>
  </p>
</div>
<%= render "users/current_enrollments" if user_signed_in? %>
