<div class="panel panel-default panel-with-sections">
  <div class="panel-heading">
    <% if can? :create, Section %>
    <div class="admin-actions pull-right">
      <%= link_to "Add section", new_course_section_path(@course) %>
    </div>
    <% end %>
    <h3 class="panel-title">
      <% if can? :read, Section %>
      <%= link_to "Available sections", course_sections_path(@course) %>
      <% else %>
      Available sections
      <% end %>
    </h3>
  </div>
  <div class="panel-body">
  <% if @course.sections.any? %>
    <%= render @course.sections %>
  <% else %>
    <p>There aren't any sections available at this time.  Please check back later.</p>
  <% end %>
  </div>
</div>
