<% if current_user %>
  <% if current_user.enrolled?(:course => course) %>
    <span class="label label-success">Enrolled</span>
  <% end %>
  <% if current_user.instructing?(:course => course) %>
    <span class="label label-primary">Instructing</span>
  <% end %>
<% end %>
