<% terminology = Rails.application.config.x["terminology"] %>
<div class="page-header">
  <h1>
    <%= terminology["course"].pluralize %>
    <small>Edit a <%= terminology["course"] %></small>
  </h1>
</div>


<%= render 'form' %>
