<div class="page-header">
  <h1>
    <%= Rails.application.config.x["terminology"]["course"].pluralize %>
    <small>Add a new <%= Rails.application.config.x["terminology"]["course"] %></small>
  </h1>
</div>


<%= render 'form' %>
