<% course = Rails.application.config.x["terminology"]["course"] %>
<div class="page-header">
  <h1>
    <%= course.pluralize %>
    <small>Add a new <%= course %></small>
  </h1>
</div>


<%= render 'form' %>
