// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.calendar {
  .cal {
    .calendar-header {
      text-align: center;
      padding-bottom: 8px;

      .cal-title, .cal-link {
        font-size: 24px;
      }
      .cal-title {
        font-weight: bold;
        padding-left: 8px;
        padding-right: 8px;
      }
    }
    .day {
      width: 14%;
      height: 120px;

      &.wday-0, &.wday-6, &.past {
        background-color: #f4f4f4;
      }

      &.prev-month, &.next-month {
        .cal-date {
          color: #ddd;
        }
      }

      &.today{
        .cal-date {
          font-weight: bold;
          color: darken(#428bca, 5%);
        }
      }

      .cal-event {
        margin-top: 4px;
        font-size: 0.92em;

        .start-time {
          color: #777;
        }
      }
    }
  }

  .cal-list-header {
    border-bottom: 1px solid #ddd;

    .visible-xs-block {
      font-size: 24px;
    }
  }
  .cal-list {
    .cal-list-item {
      margin-top: 16px;
    }
    .cal-date {
      text-align: center;
      .month {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        background-color: #428bca;
        color: ghostwhite;
        font-size: 16px;
      }
      .day {
        font-size: 24px;
        font-weight: bold;
        color: slategray;
        border-left: 1px solid #428bca;
        border-right: 1px solid #428bca;
        border-bottom: 1px solid #428bca;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }

    .course-detail, .course-actions {
      margin-left: -15px;
    }
    .course-detail {

      p {
        margin-bottom: 0;
      }

      .title {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 4px;
      }
      .summary {
        margin-bottom: 4px;
      }
      .date-and-time {
        font-weight: bold;
      }
    }

    .cal-legend-xs {
      margin-top: 8px;
      &.bottom {
        border-top: 1px solid #ddd;
        padding-top: 8px;
      }
    }

  }

  .instructing {
    .status-mark {
      color: darkorange;
    }
  }
  .enrolled {
    .status-mark {
      color: blueviolet;
    }
  }
  .completed {
    .status-mark {
      color: forestgreen;
    }
  }
  .waiting {
    .status-mark {
      color: slategrey;
    }
  }
}
