// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.calendar {
  .cal {
    .calendar-header {
      text-align: center;
      padding-bottom: 8px;

      .cal-title {
        font-size: 16px;
        font-weight: bold;
        padding-left: 8px;
        padding-right: 8px;
      }
    }
    .day {
      width: 14%;
      height: 120px;

      &.wday-0, &.wday-6, &.past {
        background-color: #f4f4f4;
      }

      &.prev-month, &.next-month {
        .cal-date {
          color: #ddd;
        }
      }

      &.today{
        .cal-date {
          font-weight: bold;
          color: darken(#428bca, 5%);
        }
      }

      .cal-event {
        margin-top: 4px;
        font-size: 0.92em;

        .start-time {
          color: #777;
        }
      }
    }
  }

  .instructing {
    .status-mark {
      color: gold;
    }
  }
  .enrolled {
    .status-mark {
      color: dodgerblue;
    }
  }
  .completed {
    .status-mark {
      color: forestgreen;
    }
  }
  .waiting {
    .status-mark {
      color: dimgrey;
    }
  }
}
