// Place all the styles related to the stats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stats {
  .open-seats-bar {
    padding-left: 150px;
  }
  .course-title {
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 6px;
    margin-bottom: 11px;
  }
}
