<% if user_signed_in? %>
  <p class="navbar-text">
    Hello, <strong><a href="#" class="navbar-link"><%= current_user.email %></a></strong>
  </p>
  <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: 'btn btn-default navbar-btn' %>
<% else %>
  <%= link_to 'Login', new_user_session_path, class: 'btn btn-default navbar-btn' %>
<% end %>
